<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Add</title>
        <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    </head>

    <style>
        body {
            font-family: 'Barlow';
        }
    </style>

    <body>
        <form method="post">
            <label for="ssn">ssn:</label><br>
            <input type="text" name="ssn"><br>

            <label for="name">name:</label><br>
            <input type="text" name="name"><br>

            <label for="address">address:</label><br>
            <input type="text" name="address"><br>

            <label for="role">role:</label><br>
            <input type="text" name="role"><br>

            <button type="submit">Add</button>
        </form>

        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
    </body>
</html>