<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Add</title>
        <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    </head>

    <style>
        body {
            font-family: 'Barlow';
        }
    </style>

    <body>
        <form method="post">
            <label for="id">id:</label><br>
            <input type="text" name="id"><br>

            <label for="name">name:</label><br>
            <input type="text" name="name"><br>

            <label for="phonenumber">phonenumber:</label><br>
            <input type="text" name="phonenumber"><br>

            <label for="contactemail">contactemail:</label><br>
            <input type="text" name="contactemail"><br>

            <label for="rating">rating:</label><br>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="address">address:</label><br>
            <input type="text" name="address"><br>

            <button type="submit">Add</button>
        </form>

        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
    </body>
</html>