<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Add</title>
        <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    </head>

    <style>
        body {
            font-family: 'Barlow';
        }
    </style>

    <body>
        <form method="post">
            <label for="id">id:</label><br>
            <input type="text" name="id"><br>

            <label for="roomnumber">roomnumber:</label><br>
            <input type="text" name="roomnumber"><br>

            <label for="tv">TV</label>
            <input type="checkbox" name="tv"><br>

            <label for="fridge">Fridge</label>
            <input type="checkbox" name="fridge"><br>

            <label for="freezer">Freezer</label>
            <input type="checkbox" name="freezer"><br>

            <label for="ac">AC</label>
            <input type="checkbox" name="ac"><br>

            <label for="isextendible">Is extendible?</label>
            <input type="checkbox" name="isextendible"><br>

            <label for="isdamaged">Is damaged?</label>
            <input type="checkbox" name="isdamaged"><br>

            <label for="view">View:</label>
            <input type="radio" id="mountain" name="view" value="Mountain">
            <label for="mountain">Mountain</label>
            <input type="radio" id="sea" name="view" value="Sea">
            <label for="mountain">Sea</label>
            <input type="radio" id="river" name="view" value="River">
            <label for="mountain">River</label>
            <input type="radio" id="forest" name="view" value="Forest">
            <label for="mountain">Forest</label>

            <br>
            <label for="price">price:</label><br>
            <input type="text" name="price"><br>

            <label for="capacity">capacity:</label><br>
            <input type="text" name="capacity"><br>

            <button type="submit">Add</button>
        </form>

        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
    </body>
</html>