<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Admin</title>
        <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    </head>

    <style>
        body {
            font-family: 'Barlow';
        }
    </style>

    <body>
        <h1>Insert</h1>
        <a href="{{url_for('addcustomer')}}">Add Customer</a><br>
        <a href="{{url_for('addemployee')}}">Add Employee</a><br>
        <a href="{{url_for('addhotel')}}">Add Hotel</a><br>
        <a href="{{url_for('addroom')}}">Add Room</a><br>
        <h1>Delete</h1>
        <a href="{{url_for('deletecustomer')}}">Delete Customer</a><br>
        <a href="{{url_for('deleteemployee')}}">Delete Employee</a><br>
        <a href="{{url_for('deletehotel')}}">Delete Hotel</a><br>
        <a href="{{url_for('deleteroom')}}">Delete Room</a><br>
        <a href="{{url_for('deletehotelchain')}}">Delete Hotel Chain</a>

        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
    </body>
</html>