<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Transform</title>
        <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    </head>

    <style>
        body {
            font-family: 'Barlow';
        }
    </style>

    <body>
        <form method="post">
            <label for="bookingid">Select booking to transform:</label>
            <select name="bookingid">
                {%for i in range(0, numbookings)%}
                    <option value="{{bookings[i]['bookingid']}}">{{bookings[i]['bookingid']}}</option>
                {%endfor%}
            </select>

            <br>

            <label for="ssn">ssn:</label><br>
            <input type="text" name="ssn"><br>

            <button type="submit">Transform</button>
        </form>

        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
    </body>
</html>